$easy: rgb(111, 236, 167);
$medium:rgb(69, 125, 245);
$hard:#ff5252;
$dark: #383838;
$white: rgb(255, 255, 255);


$difficulties: (
  easy: $easy,
  medium: $medium,
  hard: $hard
);
@each $difficulty, $color in $difficulties {
  .#{$difficulty}-bg {
    background: $color;
    color: $white;
  }
}